/* 
OverClocked ReMix 4 - OCR3 ReMix
by Douglas "Ramaniscence" Arley
============================================

TO DO:


============================================

Changelog:

-2012-02-27 - Removed "WWW" sub-domain prefix
-2009-06-14 - Merged vBulletin fix into main style
-2009-06-14 - Updated to work with new OCReMix layout 
-2005-09-25 - More forum adjustments for 1:1 accuracy w/ OCR3
-2005-09-25 - Fixed positions for MIXING and STORE tabs
-2005-09-25 - Alot more forums image replacement
-2005-09-25 - Added image replacement for: AIM, MSN, WWW, HOME, Y!M, EDIT & QUOTE
*/
/* OCR 3 FORUMS STUFF */
/* 
OverClocked ReMix 4 - OverClocked ReMix 3 ReMix (vBulletin Fix)
by Douglas "Ramaniscence" Arley
============================================

Changelog:
2007-11-01 - Initial launch
*/
@-moz-document url-prefix(http://ocremix.org/forums/) {
  /* vBulletin 3 CSS For Style 'OverClocked ReMix' (styleid: 2) */
  #logininfo {
    right: 10px !important;
    top: -15px !important;
    position: absolute !important; }

  #ocrsearch, .orcsearch {
    top: -100px !important;
    position: absolute !important;
    /* visibility: none !important; */ }

  .tcat {
    font-weight: bold;
    text-align: left; }

  td.inlinemod {
    background: #FFFFCC;
    color: #000000; }

  .wysiwyg {
    background: #F5F5FF;
    color: #000000;
    font: 10pt Arial, Helvetica, sans-serif; }

  .button {
    font: 11px Arial, Helvetica, sans-serif; }

  select, option, optgroup, .smallfont, .navbar {
    font: 11px Arial, Helvetica, sans-serif; }

  .highlight {
    color: #FF0000;
    font-weight: bold; }

  .fjsel {
    background: #787582;
    color: #FFFFFF; }

  .fjdpth0 {
    background: #F7F7F7;
    color: #000000; }

  .panel {
    background: #222 none repeat-x top left !important;
    color: #aaa !important;
    /* CHANGED */
    padding: 10px;
    border: none !important;
    /* CHANGE (Because it's useless) */ }

  .panelsurround {
    color: #aaa !important;
    /* CHANGED */ }

  legend {
    background: #222 !important;
    /* ADDED */
    border: 1px solid #000 !important;
    /* ADDED */
    font: 11pt Arial, Helvetica, sans-serif; }

  .vbmenu_control {
    background: none #e2e3f2 !important;
    /* PUT-IMAGE-HERE */
    border-left: 1px solid #a8adce !important;
    padding: 3px 6px 3px 6px;
    white-space: nowrap; }
    .vbmenu_control a {
      color: #3f3c75 !important; }
      .vbmenu_control a:hover {
        color: #3f3c75 !important; }

  .vbmenu_popup {
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #0B198C; }

  .vbmenu_option {
    background: #0FF !important;
    color: #000000;
    font: 11px Arial, Helvetica, sans-serif;
    white-space: nowrap;
    cursor: pointer; }

  .vbmenu_option a:link, .vbmenu_option_alink, .vbmenu_option a:visited, .vbmenu_option_avisited {
    color: #22229C;
    text-decoration: none; }

  .vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover {
    color: #FFFFFF;
    text-decoration: none; }

  .vbmenu_hilite {
    background: #8A949E;
    color: #FFFFFF;
    font: 11px Arial, Helvetica, sans-serif;
    white-space: nowrap;
    cursor: pointer; }

  .vbmenu_hilite a:link, .vbmenu_hilite_alink, .vbmenu_hilite a:visited, .vbmenu_hilite_avisited, .vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover {
    color: #FFFFFF;
    text-decoration: none; }

  /* ***** styling for 'big' usernames on postbit etc. ***** */
  .bigusername {
    font-size: 14pt; }

  /* ***** small padding on 'thead' elements ***** */
  td.thead, div.thead {
    padding: 4px; }

  /* ***** basic styles for multi-page nav elements */
  .pagenav a {
    text-decoration: none; }

  .pagenav td {
    padding: 2px 4px 2px 4px; }

  /* ***** define margin and font-size for elements inside panels ***** */
  .fieldset {
    margin-bottom: 6px; }

  .fieldset, .fieldset td, .fieldset p, .fieldset li {
    background: #222 none !important;
    /* ADDED */
    border: 1px solid #000 !important;
    /* ADDED */
    font-size: 11px; }

  /* ***** don't change the following ***** */
  form {
    display: inline; }

  label {
    cursor: default; }

  .normal {
    font-weight: normal; }

  .inlineimg {
    vertical-align: middle; }

  /* =========== MORE STUFF ============ */
  table.datatable, table.tborder {
    background: #a8adce !important;
    border: 1px solid #3f3c75 !important;
    color: #000 !important;
    font-size: 85%;
    margin-bottom: 4px; }

  table.tborder td.vbmenu_control {
    background-color: #e2e3f2 !important;
    /* PUT-IMAGE-HERE */ }

  table.datatable a, table.datatable a:visited, table.tborder a, table.tborder a:visited {
    color: #3f3c75 !important;
    /* CHANGED */
    text-decoration: none !important; }

  table.datatable a:hover, table.tborder a:hover {
    text-decoration: underline !important; }

  table.datatable td, table.tborder td {
    background: none #e2e3f2 !important;
    border: 0 solid #FFF !important;
    vertical-align: top; }

  table.datatable td.row2, table.datatable tr.row2 td, table.tborder .alt2, table.tborder .alt2active {
    background: none #cdcfe9 !important;
    border: 0px solid #E8E8EA !important; }

  table.datatable td.pagination, table.tborder .tcat {
    background: none #44497b repeat-x !important;
    color: #B0B8F9 !important;
    font-weight: bold !important; }

  table.datatable td.pagination {
    text-align: right; }

  table.datatable td.pagination a, .tcat a {
    color: #4D4E6C;
    font-weight: bold; }

  table.datatable td.row1:hover {
    cursor: pointer; }

  table.datatable td.row2, table.datatable tr.row2 td, .alt2, .alt2active {
    background: none #222 repeat-x !important;
    border: 1px solid #E8E8EA; }

  table.datatable td.row3, table.datatable tr.row3 td {
    background: none #222 repeat-x !important;
    border: 1px solid #E8E8EA; }

  table.datatable tfoot td, table.tborder tfoot td {
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    white-space: nowrap; }

  table.datatable th, table.tborder th, table.tborder .thead {
    background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/forumtitle-bg.png") #4f5486 repeat-x !important;
    color: #b0b8f9 !important;
    font-weight: bold;
    padding-top: 8px !important;
    height: 25px !important;
    white-space: nowrap;
    text-align: center !important; }

  table.datatable th a,
  table.datatable th a:visited,
  table.tborder .thead a,
  table.tborder .thead a:visited {
    color: #b0b8f9 !important;
    text-decoration: none; }

  table.datatable th a:hover,
  table.tborder td.thead a:hover {
    color: #FFFFFF;
    text-decoration: underline !important; }

  table.layout td {
    vertical-align: top; }

  ul {
    font-size: 95%;
    list-style: square; }

  ul ul {
    font-size: 100%; }

  ul.nav {
    color: #4D4E6C;
    font-size: 85%;
    list-style-type: none;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-top: 2px;
    padding: 0px; }

  ul.nav a {
    color: #4D4E6C;
    text-decoration: none; }

  ul.nav a:hover {
    color: #DF7500;
    text-decoration: underline; }

  ul.nav li {
    vertical-align: middle; }

  ul.nav ul {
    font-size: 100%; }

  .txt-columntitle-center a {
    color: #8C8995;
    text-decoration: none; }

  .txt-columntitle-center a:hover {
    color: #DF7500;
    text-decoration: none; }

  .txt-columntitle-left, .txt-columntitle-right {
    clear: both;
    color: #8C8995;
    font-size: 85%;
    font-weight: bold;
    padding: 2px 5px;
    text-align: left;
    white-space: nowrap; }

  .txt-columntitle-right {
    padding: 2px 5px;
    text-align: right; }

  .txt-small {
    color: #4D4E6C;
    font-size: 85%;
    text-decoration: none; }

  .txt-small a, .txt-small a:link, .txt-small a:visited {
    color: #4D4E6C;
    text-decoration: none; }

  .txt-small a:hover {
    color: #DF7500;
    text-decoration: underline; }

  /* ============ COMPLETELY NEW ================ */
  #logininfo {
    margin-top: 25px;
    position: absolute;
    right: 10px !important; }

  input[type="text"], textarea {
    background: #222 !important;
    color: #aaa !important;
    border: 1px solid #aaa !important; }

  input.button {
    background: #555 !important;
    border-top: 1px solid #555 !important;
    border-left: 1px solid #555 !important;
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important; }

  td[style="border: 1px inset ;"] {
    border: 1px solid #000 !important; }

  /* === IMAGE REPLACEMENT === */ }
/* 

OverClocked ReMix - General Ad-Cleaning
by Douglas "Ramaniscence" Arley
============================================
*/
@-moz-document url-prefix(http://ocremix.org/) {
  /* === GENERAL AD REMOVAL === */
  /* Remove Center ad */
  table.layout td[width="125"] {
    display: none !important; }

  /* Remove mix write-up ad */
  div#panel-writeup div {
    display: none !important; }

  input[type="text"], textarea {
    background: #FFF !important;
    color: #000 !important;
    border: 1px solid #000 !important; }

  /* === Main Page Image Replacement === */
  img {
    /* BotA / RoFL ALT IMAGE */
    /* CS / RotC ALT IMAGE */
    /* Dark Side of Phobos ALT IMAGE */
    /* RotS / KiC ALT */
    /* VGLive HIDE */ }
    img[src^="/images/projects/"] {
      width: 0 !important;
      height: 100px !important;
      padding-left: 100px !important;
      border: 1px solid #878DDC !important; }
    img[src$="album_blood_on_the_asphalt_125.jpg"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/RoFL.png") black top left no-repeat !important; }
    img[src$="album_chrono_symphonic_125.jpg"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/rotc-alt.png") black top left no-repeat !important; }
    img[src$="album_dark_side_of_phobos_125.jpg"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/DSoP-alt.png") black top left no-repeat !important; }
    img[src$="album_rise_of_the_star_125.jpg"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/kic-alt.png") black top left no-repeat !important; }
    img[src$="videogameslive_125.jpg"], img[src$="chipamp_125.jpg"] {
      display: none !important; } }
@-moz-document domain("ocremix.org") {
  .left-column {
    display: none !important; }

  /* ======= Mainstuffs ======= */
  input, textarea {
    background: #FFF !important;
    color: #000 !important;
    border: 1px solid #000 !important; }

  /* Top-right ad */
  div.adbanner {
    visibility: hidden; }

  body {
    background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/logo2.png") #303366 top center no-repeat !important;
    color: #B0B8F9 !important; }

  h2 {
    border-bottom: 1px solid #878DDC !important; }

  .middle-column-full {
    position: relative !important;
    top: 170px !important;
    background: #303366 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 800px !important;
    z-index: 0 !important; }

  div.panel-2-white {
    background: #252850 !important; }

  div.panel-2-gray {
    background: none !important; }

  #footer {
    background: none !important; }

  .menu {
    position: absolute !important;
    left: 690px !important;
    top: 230px !important; }

  .middle-column h1 {
    display: none !important; }

  /* === TABS === */
  div.tabs {
    background: #303366 !important;
    border-bottom: 1px solid #878DDC !important;
    padding-top: 25px !important; }
    div.tabs div.highlight {
      background: #252850 !important;
      border-top: 1px solid #878DDC !important;
      border-left: 1px solid #878DDC !important;
      border-right: 1px solid #878DDC !important; }
      div.tabs div.highlight a:link, div.tabs div.highlight a:visited, div.tabs div.highlight a:hover {
        color: #878DDC !important; }
    div.tabs div.highlight-right {
      background: #303366 !important; }
    div.tabs div.regular a:link, div.tabs div.regular a:visited, div.tabs div.regular a:hover {
      color: #878ddc !important; }
    div.tabs div.regular-end, div.tabs div.regular-right {
      background: #303366 !important; }

  /* Links - #f80 (old) */
  .middle-column a:link, .middle-column a:active, .middle-column a:visited {
    color: #878DDC !important; }

  /* Links in paragraphs */
  p a, p a:active, p a:visited {
    color: #878DDC !important; }

  /* Links in lists */
  ul a, ul a:active, ul a:visited {
    color: #859CFA !important; }

  /* "home >> welcome" */
  div.breadcrumb {
    color: #B0B8F9 !important;
    left: 10px !important;
    top: 0px !important; }
    div.breadcrumb a, div.breadcrumb a:link, div.breadcrumb a:visited {
      color: #878DDC !important; }

  /* Right-side stuff */
  div.datalist1-content a, div.datalist1-content a:hover {
    color: #878DDC !important; }
  div.datalist1-content h2 {
    color: #B0B8F9 !important; }

  /* Forums/Ormgas/Spotlight Etc. */
  div.item-body {
    background-color: #252850 !important;
    background-repeat: repeat-x !important;
    background-image: none !important;
    border: 1px solid #252850 !important; }

  /* See Above */
  div.item-container {
    background-color: #252850 !important;
    background-image: none !important;
    border: 1px solid #878DDC !important;
    color: #B0B8F9 !important; }

  /* See Above */
  div.item-header {
    background-color: #252850 !important;
    background-repeat: repeat-x !important;
    background-image: none !important;
    color: #B0B8F9 !important; }

  /* See Above */
  div.item-header a, div.item-header a:visited {
    color: #859CFA !important; }

  /* Sidebar item Titles */
  div.itemtitle-left {
    background-image: none !important;
    background-color: #222 !important;
    color: #fff !important; }

  /* Mix-Side item titles */
  div.itemtitle-right {
    color: #B0B8F9 !important; }

  div.itemtitle-left a, div.itemtitle-left a:visited, div.itemtitle-right a, div.itemtitle-right a:visited {
    color: #fff !important; }
  div.itemtitle-left a:hover, div.itemtitle-right a:hover {
    color: #878DDC !important; }

  /* Mix-Side Dividers */
  div.itemtitle-right-list {
    border-bottom: 1px solid #878DDC !important; }

  div.main-content p {
    color: #B0B8F9 !important; }

  div.main-content h2, .txt-header2 {
    color: #B0B8F9 !important; }
    div.main-content h2 a, div.main-content h2 a:link, div.main-content h2 a:visited, .txt-header2 a, .txt-header2 a:link, .txt-header2 a:visited {
      color: #878DDC !important; }

  /* Mix-sode Background + left Border */
  div.right-column {
    position: absolute !important;
    top: 195px !important;
    margin-left: 500px !important; }
    div.right-column img {
      border: 1px solid #878DDC !important; }

  /* Mix-Side Bottom Image */
  /* Mix-Side Top Image */
  /* Welcome to www.ocremix.org */
  h1, h1 a, h1 a:hover {
    color: #B0B8F9 !important; }

  /* Sidebar Navigation */
  ul.nav {
    color: #B0B8F9 !important; }
    ul.nav a {
      color: #859CFA !important; }

  div.center span {
    color: #B0B8F9 !important;
    font-weight: bold !important; }

  /* OCR Logo */
  img.header {
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
    position: absolute;
    top: 94px; }

  /* OCR Mascot */
  img.mascot {
    visibility: hidden;
    height: 0px !important;
    width: 0px !important; }

  /* Position of Main site */
  div.main-content {
    top: 200px !important; }

  /* Alphabet nav - Size/Position */
  div.alphanav {
    position: absolute !important;
    top: 230px !important;
    left: 5px !important;
    margin: auto !important;
    text-align: center !important;
    padding-top: 120px !important;
    font-size: 150% !important;
    background-color: #252850 !important;
    border: 1px solid #878DDC !important;
    z-index: 2 !important;
    text-transform: uppercase; }

  div.alphanav a, div.alphanav a:active, div.alphanav a:visited {
    color: #878DDC !important; }

  /* RSS feeds and Custom Mascots */
  div.formats {
    position: absolute !important;
    top: 245px !important;
    left: 0px !important;
    right: 0px !important;
    margin: auto !important;
    width: 100% !important;
    z-index: 3 !important;
    text-align: center !important; }

  /* Front Page Image Replacements */
  img[src="/images/template/feed_icon.png"] {
    background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/ads/sig.php") transparent no-repeat top left !important;
    padding-left: 400px !important;
    width: 0 !important;
    height: 100px !important; }
  img[src="/images/template/xml_icon.png"] {
    display: none !important; }

  #ocrsearch {
    position: absolute !important;
    top: 400px !important;
    right: 150px !important;
    z-index: 3 !important; }

  .txt-small {
    color: #B0B8F9 !important; }

  a.txt-small:link, a.txt-small:active, a.txt-small:visited {
    color: #878DDC !important; }
  a.txt-small:hover {
    text-decoration: underline !important; }

  /* ======= Forums ======= */
  /* Image Replacement */
  img {
    /* Post / Reply */
    /* Chat Icons */
    /* Quote / Edit Icons */
    /* Folders */
    /* Big Folders */ }
    img[src^="templates/ocr/images/lang_english/"] {
      width: 0 !important; }
    img[src="templates/ocr/images/lang_english/post.gif"], img[src="templates/ocr/images/lang_english/reply.gif"] {
      height: 25px !important;
      padding-left: 91px !important; }
    img[src="templates/ocr/images/lang_english/post.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/post.gif") top left no-repeat !important; }
    img[src="templates/ocr/images/lang_english/reply.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/reply.gif") top left no-repeat !important; }
    img[src^="templates/ocr/images/lang_english/icon_"] {
      height: 20px !important;
      padding-left: 57px !important; }
    img[src$="icon_profile.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_profile.gif") top left no-repeat !important; }
    img[src$="icon_pm.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_pm.gif") top left no-repeat !important; }
    img[src$="icon_www.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_www.gif") top left no-repeat !important; }
    img[src$="icon_aim.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_aim.gif") top left no-repeat !important; }
    img[src$="icon_msnm.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_msnm.gif") top left no-repeat !important; }
    img[src$="icon_icq_add.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_icq.gif") top left no-repeat !important; }
    img[src$="icon_email.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_email.gif") top left no-repeat !important; }
    img[src$="icon_yim.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_yim.gif") top left no-repeat !important; }
    img[src$="icon_quote.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_quote.gif") top left no-repeat !important; }
    img[src$="icon_edit.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/icon_edit.gif") top left no-repeat !important; }
    img[src^="templates/ocr/images/folder"] {
      height: 18px !important;
      padding-left: 19px !important; }
    img[src$="folder_new.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder_new.png") top left no-repeat !important; }
    img[src$="folder.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder.png") top left no-repeat !important; }
    img[src$="folder_new_hot.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder_new_hot.png") top left no-repeat !important; }
    img[src$="folder_hot.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder_hot.png") top left no-repeat !important; }
    img[src$="folder_new_big.gif"], img[src$="folder_big.gif"] {
      height: 25px !important;
      padding-left: 46px !important; }
    img[src$="folder_new_big.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder_new_big.png") top left no-repeat !important; }
    img[src$="folder_big.gif"] {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/folder_big.png") top left no-repeat !important; }

  div.forums {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    margin-top: 250px !important; }

  div.div-forums-nav {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #B0B8F9 !important;
    text-align: center !important;
    position: absolute !important;
    top: 250px !important;
    left: 0 !important;
    width: 100% !important; }
    div.div-forums-nav a, div.div-forums-nav a:active, div.div-forums-nav a:visited {
      color: #B0B8F9 !important; }

  table.forumborder {
    background-color: #A8ADCE !important;
    border: 1px solid #3F3C75 !important; }
    table.forumborder tr {
      background-color: transparent !important; }

  .gen2 {
    font-family: Verdana, Arial, Helvetica, sans-serif !important; }

  td.row1, td.row2, td.row3 {
    font-size: 80% !important;
    background-image: none !important;
    color: #000 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; }
    td.row1 a, td.row1 a:active, td.row1 a:visited, td.row1 a:hover, td.row2 a, td.row2 a:active, td.row2 a:visited, td.row2 a:hover, td.row3 a, td.row3 a:active, td.row3 a:visited, td.row3 a:hover {
      color: #3F3C75 !important; }

  td.row1 {
    background-color: #e2e3f2 !important; }
    td.row1[nowrap="nowrap"] a {
      text-decoration: underline !important; }
      td.row1[nowrap="nowrap"] a:hover {
        text-decoration: none !important; }

  td.row2 .gensmall a {
    color: #3F3C75 !important;
    text-decoration: underline !important; }

  td.row2, td.row3 {
    background-color: #cdcfe9 !important; }

  td.row3 a:link, td.row3 a:active, td.row3 a:visited {
    text-decoration: underline !important; }
  td.row3 a:hover {
    text-decoration: none !important; }

  th.menu {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    text-align: center !important;
    background-image: none !important;
    background-color: #626799 !important;
    color: #B0B8E9 !important; }

  span.postbody {
    color: #000 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; }
    span.postbody a, span.postbody a:active, span.postbody a:visited, span.postbody a:hover {
      color: #3F3C75 !important;
      text-decoration: underline !important; }

  .quote {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; }

  .genmed {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #000 !important; }

  td.menu {
    background-image: none !important;
    background-color: #C0C3E6 !important;
    color: #000 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    size: 8pt !important; }

  th.forumtitle, td.forumtitle, td.menu {
    background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/forumtitle-bg.png") #4f5486 repeat-x !important;
    color: #B0B8F9 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    height: 25px !important; }

  th.forumtitle font[color="white"] {
    color: #B0B8F9 !important; }

  .forumtitle span.nav a,
  .forumtitle span.nav a:active,
  .forumtitle span.nav a:visited {
    color: #B0B8F9 !important; }

  tr > .rowtitles {
    height: 34px !important; }

  td.rowtitles {
    background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR3-ReMix/rowtitle-bg.png") #c0c3e6 repeat-x !important;
    color: #B0B8F9 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important; }

  .cattitle {
    color: #3b4281 !important;
    font-size: 12px !important;
    margin-top: 10px !important;
    border: #a8adce 1px solid !important;
    padding: 3px !important;
    line-height: 100% !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
    text-decoration: none !important;
    background-color: #cdcfe9 !important; }

  .icon {
    background-image: none !important;
    background-color: #E2E3F2 !important;
    color: #B0B8F9 !important; }

  .code {
    background: #fff !important; }

  span.gensmall {
    color: #000 !important; }

  span.gensmall a {
    color: #B0B8F9 !important;
    text-decoration: none !important; }

  span.gensmall a:hover {
    color: #B0B8F9 !important;
    text-decoration: underline !important; }

  /* ======= Mixer & Alphabetical Organization Pages ======= */
  .datatable {
    background-image: none !important;
    background-color: #000 !important;
    border: 1px solid #a60 !important; }
    .datatable th {
      background: url("http://ramaserv.thasauce.net/images/OCRCSS/OCR4-Contrast/item-header-bg.png") #333333 repeat-x !important; }
    .datatable td {
      background-image: none !important;
      background-color: #222 !important;
      color: #B0B8F9 !important;
      border-top: 1px solid #333 !important;
      border-left: 1px solid #333 !important;
      border-bottom: 1px solid #111 !important;
      border-right: 1px solid #111 !important; }
      .datatable td.pagination {
        background-image: none !important;
        background-repeat: repeat-x !important;
        background-color: #000 !important; }
      .datatable td a, .datatable td a:active, .datatable td a:visited {
        color: #878DDC !important; }

  .left-column {
    display: none !important; }

  div.middle-column {
    margin: 10px 0px 0px 145px !important; }

  div.middle-column-extended {
    margin: 10px 10px 0px 10px !important; }

  div.breadcrumb {
    left: 10px !important;
    top: -180px !important;
    color: #aaa !important; }

  .panel-white-tl, .panel-white-tr, .panel-white-br, .panel-white-bl, .panel-white-inside, .tab-container,
  .panel-gray-tl, .panel-gray-tr, .panel-gray-br, .panel-gray-bl, .panel-gray-inside, .tab-container {
    background: none !important; }

  .color-bodytext a {
    color: #878DDC !important; }

  .middle-column-extended {
    position: relative !important;
    top: 175px !important; }

  #ocrsearch {
    margin-top: -200px !important;
    margin-right: -128px !important; }

  a[href="http://www.facebook.com/group.php?gid=2210239078"] {
    margin-left: 50px !important; }

  div.tab-panel-footer {
    display: none !important; } }
@-moz-document url-prefix(http://ocremix.org/mixing/) {
  div.tabs {
    margin-top: 155px !important;
    left: 10px !important;
    position: absolute !important; }

  table[cellpadding="3"] {
    margin-top: 200px !important;
    left: 15px !important;
    position: absolute !important; }

  div[align="center"] {
    display: none !important; }

  p {
    display: none !important; } }
@-moz-document url-prefix(http://ocremix.org/store/) {
  div.tabs {
    margin-top: 155px !important;
    left: 10px !important;
    position: absolute !important; }

  table[cellpadding="3"] {
    margin-top: 200px !important;
    left: 15px !important;
    position: absolute !important; }

  div[align="center"] {
    display: none !important; }

  p {
    display: none !important; } }
@-moz-document url-prefix(http://ocremix.org/remix/) {
  /* Hide Amazon Ad on Mix page */
  iframe[height="600"] {
    display: none !important; } }
